<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="id.interview.newsapi">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo_border"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name = "id.interview.newsapi.view.Root"
            android:screenOrientation = "portrait"
            tools:ignore="LockedOrientationActivity"
            android:theme = "@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name = "android.intent.action.MAIN" />

                <category android:name = "android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name = "id.interview.newsapi.view.HomeActivity"
            android:screenOrientation = "portrait"
            android:theme = "@style/AppTheme.NoActionBar"
            tools:ignore="LockedOrientationActivity"/>

        <activity
            android:name = "id.interview.newsapi.view.listcategory.ActivityDetailsMovies"
            android:screenOrientation = "portrait"
            android:theme = "@style/AppTheme.NoActionBar"
            tools:ignore="LockedOrientationActivity"/>

        <activity
            android:name = "id.interview.newsapi.view.listcategory.technology.TechnologyActivity"
            android:screenOrientation = "portrait"
            android:label="Trending Technology"
            tools:ignore="LockedOrientationActivity"/>
        <activity
            android:name = "id.interview.newsapi.view.listcategory.entertainment.EntertainmentActivity"
            android:screenOrientation = "portrait"
            android:label="Trending Entertainment"
            tools:ignore="LockedOrientationActivity"/>
        <activity
            android:name = "id.interview.newsapi.view.listcategory.sports.SportsActivity"
            android:screenOrientation = "portrait"
            android:label="Trending Sports"
            tools:ignore="LockedOrientationActivity"/>
        <activity
            android:name = "id.interview.newsapi.view.listcategory.science.ScienceActivity"
            android:screenOrientation = "portrait"
            android:label="Trending Science"
            tools:ignore="LockedOrientationActivity"/>
        <activity
            android:name = "id.interview.newsapi.view.listcategory.general.GeneralActivity"
            android:screenOrientation = "portrait"
            android:label="Trending General"
            tools:ignore="LockedOrientationActivity"/>
        <activity
            android:name = "id.interview.newsapi.view.listcategory.health.HealthActivity"
            android:screenOrientation = "portrait"
            android:label="Trending Health"
            tools:ignore="LockedOrientationActivity"/>
        <activity
            android:name = "id.interview.newsapi.view.listcategory.business.BusinessActivity"
            android:screenOrientation = "portrait"
            android:label="Trending Business"
            tools:ignore="LockedOrientationActivity"/>
    </application>

</manifest>